<div class="search-page dynamic">
	<div ng-app="app" ng-controller="SearchDynamicController">
		<h3 class="info">Enter query below for instant full-text search in offers:</h3>
		<%= text_field_tag :body, nil, class: 'field query', :'ng-model' => 'searchText', :'ng-trim' => 'false' %>
		<div class="results">
			<h1>Dynamic Job Search Results</h1>
			<p>Below are your search results for jobs that include the keywords: "{{searchText}}".</p>
			<h2>Job Search Results [{{results.startIndex}} to {{results.endIndex}}] of [{{results.offersCount}}]</h2>

			<div class="list">
				<div ng-repeat="offer in results.offers" class="element">
					<div class="title">{{offer.title}}</div>
					<div class="body">{{offer.body}}</div>
				</div>	
			</div>

			<div class="paging">
				<div ng-repeat="linkElement in pagingLinks" class="element">
					<div ng-switch on="linkElement.type">
						<div ng-switch-when="link" ng-click="loadPage(linkElement.pageNumber)" ng-class="{link: true, current: linkElement.pageNumber == pageNumber, noncurrent: linkElement.pageNumber != pageNumber}">{{linkElement.name}}</div>
						<span ng-switch-when="spacer" class="spacer">...</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="clear">
</div>
