body
{
	background-color: rgba(0,0,0,0.03);
	margin: 0px;
}

.clear
{
	clear: both;
}

.main-content
{
	box-sizing: border-box;
	width: 87%;
	margin: auto;
	padding: 65px 20px;

	background-color: #fff;
}

.navigation-bar
{
	width: 100%;
	position: fixed;

	background-image: linear-gradient(
			rgb(98, 172, 243) 0%, 
			rgb(94, 162, 227) 50%, 
			rgb(67, 146, 221) 51%, 
			rgb(61, 134, 203) 100%
		);
}

.navigation-bar
{
	margin: 0px;
	padding: 0px 15px;
}

.navigation-bar a
{
	float: left;
	padding: 15px;
	color: #fff;
	font-weight: 700;
	text-decoration: none;
}

.navigation-bar a:hover
{
	background-color: rgba(255,255,255,0.2);
}

/* line 1, C:/tom/programy/kod/web/src/jobs/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, C:/tom/programy/kod/web/src/jobs/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, C:/tom/programy/kod/web/src/jobs/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, C:/tom/programy/kod/web/src/jobs/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 23, C:/tom/programy/kod/web/src/jobs/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 26, C:/tom/programy/kod/web/src/jobs/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, C:/tom/programy/kod/web/src/jobs/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, C:/tom/programy/kod/web/src/jobs/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 42, C:/tom/programy/kod/web/src/jobs/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, C:/tom/programy/kod/web/src/jobs/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, C:/tom/programy/kod/web/src/jobs/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, C:/tom/programy/kod/web/src/jobs/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
.search-page
{
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 18px;
}

.results
{
	box-sizing: border-box;
	width: 75%;
	float:left;
}

.results h1, .results h2
{
	color: #3778B6;
}

.results .list
{
	border: 1px solid #bce8f1;
	border-radius: 5px;
}

.results .list .element
{
	padding: 10px 15px;
}

.results .list .element:nth-of-type(even)
{
	background-color: #f5f5f5;
}

.results .list .element .title
{
	font-size: 14px;
	font-weight: 700;
	color: #2A6496;
}

.results .list .element .body
{
	margin-top: 4px;

	font-size: .9em;
	color: #333;
}

.search-box
{
	box-sizing: border-box;
	width: 25%;
	float:left;

	border: 1px solid #ddd;
	border-radius: 4px;
	margin-left: auto;

	background-color: #f2f2f2;
	font-size: 14px;
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.search-box-heading
{
	background-color: rgb(233, 146, 65);
	background-image: linear-gradient(
			rgb(241, 158, 71) 0%, 
			rgb(223, 146, 65) 50%,
			rgb(218, 130, 50) 51%,
			rgb(197, 117, 44) 100%
		);
	padding: 3px 10px;
	color: #fff;
	font-weight: 600;
}

.search-box-body
{
	padding: 10px;
}

.form-label
{
	margin-top: 10px;
	font-size: 12px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.form-field
{
	box-sizing: border-box;
	height: 34px;
	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: 0px;
	font-size: 14px;
}

.form-field:focus
{
	border-color: #66AFE9;
	box-shadow: 0 0 8px rgba(102,175,233,.6)
}

.paging
{
	display: table;
	margin: 20px auto;
}

.paging a, .paging span
{
	display: table-cell;
	padding: 6px 12px;
	border: 1px solid #DDD;
	color: #3778B6;
	text-decoration: none;

	transition-property: all;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.paging a:hover
{
	background-color: #eee;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

