body
{
	background-color: rgba(0,0,0,0.03);
	margin: 0px;
}

.clear
{
	clear: both;
}

.main-content
{
	box-sizing: border-box;
	width: 87%;
	margin: auto;
	padding: 65px 20px;

	background-color: #fff;
}

.navigation-bar
{
	width: 100%;
	position: fixed;

	background-image: linear-gradient(
			rgb(98, 172, 243) 0%, 
			rgb(94, 162, 227) 50%, 
			rgb(67, 146, 221) 51%, 
			rgb(61, 134, 203) 100%
		);
}

.navigation-bar
{
	margin: 0px;
	padding: 0px 15px;
}

.navigation-bar a
{
	float: left;
	padding: 15px;
	color: #fff;
	font-weight: 700;
	text-decoration: none;
}

.navigation-bar a:hover
{
	background-color: rgba(255,255,255,0.2);
}

